* {
    box-sizing: border-box;
}

body, html {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    font-family: 'Space Mono', monospace;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size:3em;
}

h2 {
    font-size:2em;
}

h3 {
    font-size:1em;
}

subheader { 
display: flex;
justify-content: center;
align-items: center;
}

.sub-sub-header{
    display: flex;
    justify-content: center;
    margin-top:-15px;
}

.chart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:50px;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
	background-color: white;
    margin-bottom:100px;
}

.button-wrapper :link,
:visited {
	text-decoration: none;
	color: black;

}

button {
	font-family: "Space-Mono", monospace;
	color: black;
	background-color: white;
	border: 1px dotted black;
	font-size: 1em;
	cursor: pointer;
	box-shadow: -5px 5px 0px 1px rgba(255, 109, 0,0.7);
	position: relative;
	z-index: 2;
	font-size: 2em;
    border-radius:5px;
}

button:hover {
	background-color: rgba(128, 185, 24,.9);
	color: white;
}

button:active {
	font-family: "Space-Mono", monospace;
	background-color: #4a4140;
	color: white;
	border: 1px dotted black;
	cursor: pointer;
	box-shadow: 5px 5px 0px 1px rgba(193, 158, 224,1);
}