content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:20px;
}

.button-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:20px;
}